# Dynamic docking axis support for Klipper
#
# Copyright (C) 2025 Eytecz
#
# This file may be distributed under the terms of the GNU GPLv3 license.

# Generic axis synchronization module
# --------------------------------------------------------------------------------
[axis_sync]

# Docking Axis configuration
# --------------------------------------------------------------------------------
[docking_axis]
steppers: manual_stepper stepper_lb0, manual_stepper stepper_lb1
position_min: 38.0
position_max: 450.0
position_endstop: 38.0
position_park: 400.0

[gcode_macro DOCKING_AXIS_HOME]
gcode:
    {% set movepos = printer.configfile.settings.docking_axis.position_endstop %}
    {% set speed = printer.configfile.settings.docking_axis.homing_speed %}
    DOCKING_AXIS  MOVE={movepos} SPEED={speed} STOP_ON_ENDSTOP=1
description: Home the docking axis to the endstop position

[gcode_macro DOCKING_AXIS_PARK]
gcode:
    {% set parkpos = printer.configfile.settings.docking_axis.position_park %}
    DOCKING_AXIS MOVE={parkpos}
description: Move the docking axis to the park position

